.jumbotron {
  padding: 7rem 1rem;
  background-color: #3c3d37;
  text: display -4px;color: #eabe6c;
}

#about {
  background-color: #1e201e;
}

#skills {
  background-color: #3c3d37;
}

#experience {
  background-color: #1e201e;
}

#blog {
  background-color: #3c3d37;

}

#acknowledgement {
  background-color: #1e201e;;
}
